<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo App</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/style.css" rel="stylesheet" />
    <script src="node_modules/angular/angular.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>-->
    <script src="app/app.config.js"></script>
</head>

<body ng-app="DemoApp" ng-strict-di style="background-color: #0D75AC">
    <div ng-controller="DemoAppController">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top:10px;padding-left:10px; padding-right:10px;">
            <div class="col-md-2 hidden-xs hidden-sm">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-8 thin-gray-botton-border " style="background-color:#f7f2f2;">
                <div>
                    <div ng-click="sortBy('number')" class="col-xs-6 col-sm-6 col-md-6 text-left pad-none clickable">
                        <span class="btn1 btn-link pad-none font-bold"><br />Account</span>
                        <span class="sortorder vertical-align-bottom" ng-show="propertyName === 'number'" ng-class="{reverse: reverse}"></span>
                    </div>

                    <div ng-click="sortBy('availablecash')" class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <span class="sortorder pad-none vertical-align-top" ng-show="propertyName === 'availablecash'" ng-class="{reverse: reverse}"></span>
                        <span class="btn1 btn-link pad-none font-bold"> Available Cash<br />Today's Change</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">&nbsp;</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:10px; padding-right:10px;">
            <div class="col-md-2 hidden-xs hidden-sm">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-8" style="background-color:white; ">
                <div class="height-40 vertical-align-center thin-gray-botton-border" ng-repeat="record in dataapi | orderBy:propertyName:reverse" ng-if="$index < (dataapi.length / loadAll)">
                    <div class="col-xs-6 col-sm-6 col-md-6 font-blue-bold text-left pad-none" style="padding-top:10px;">
                        {{record.name}} - {{record.number}}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right" style="">
                        <span class="font-black-bold">{{record.availablecash | currency}}</span>
                        <div ng-class="checkValue(record)"> {{record.percentChange}}% / {{record.valueChange | currency}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">&nbsp;</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:10px; padding-right:10px;">
            <div ng-if="loadAll === 2" class="col-md-2 hidden-xs hidden-sm">&nbsp;</div>
            <div ng-if="loadAll === 2" class="col-xs-12 col-sm-12 col-md-8" style="background-color:white;">
                <div class="height-40 font-blue-bold text-center clickable" style="padding-top:10px;" ng-click="loadAllFunc()">Load more</div>
            </div>
            <div ng-if="loadAll === 2" class="col-md-2 hidden-xs hidden-sm">&nbsp;</div>
        </div>

    </div>
</body>

</html>