
.sortorder:after {
    /*content: '\25b2';*/ /*BLACK UP-POINTING TRIANGLE 2227*/
    content: '\2227';
    color: cornflowerblue;
    font: bold 12px arial;
}

.sortorder.vertical-align-bottom:after {
    vertical-align: bottom;
}

.sortorder.vertical-align-top:after {
    vertical-align: top;
}

.sortorder.reverse:after {
    /*content: '\25bc';*/ /*BLACK DOWN-POINTING TRIANGLE 2228 */
    content: '\2228';
    color: cornflowerblue;
    font: bold 12px arial;
}

.pad-none {
    padding: 0;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-center {
    vertical-align: middle;
}

.height-40 {
    height: 40px;
}
.font-gray{
    font: bold 11px arial;
    color:#808080;
}

.font-bold {
    font: bold 11px arial;
    color: black;    
}

.font-blue-bold {
    font: bold 14px arial;
    color: cornflowerblue;   
    vertical-align: middle;
}

.font-black-bold {
    font: bold 12px arial;
    color: black;   
    vertical-align: middle;
}

.redfonts {
    color: #b4051b;
    font-size: 11px;
    font: bold;
}

.greenfonts {
    color: #1ea330;
    font-size: 11px;
    font: bold;
}

.grayfonts {
    color: gray;
    font-size: 11px;
    font: bold;
}

.thin-gray-botton-border {
    border-bottom: thin solid #DAE3E6;
}

.clickable {
    cursor: pointer;
}

.line-height-15{
    line-height: 15px;
}