.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sortorder:after {
    content: '\25b2'; /*BLACK UP-POINTING TRIANGLE*/
}

.sortorder.vertical-align-bottom:after {
    vertical-align: bottom;
}

.sortorder.vertical-align-top:after {
    vertical-align: top;
}

.sortorder.reverse:after {
    content: '\25bc'; /*BLACK DOWN-POINTING TRIANGLE*/
}

.pad-none {
    padding: 0;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-center {
    vertical-align: middle;
}

.height-40 {
    height: 40px;
}

.font-bold {
    font: bold;
    color: black;
    font-size: 12px;
}

.font-blue-bold {
    font: bold 12px arial;
    color: cornflowerblue;
    font-size: 16px;
    vertical-align: middle;
}

.font-black-bold {
    font: bold 12px arial;
    color: black;
    font-size: 14px;
    vertical-align: middle;
}

.redfonts {
    color: #b4051b;
    font-size: 11px;
    font: bold;
}

.greenfonts {
    color: #1ea330;
    font-size: 11px;
    font: bold;
}

.grayfonts {
    color: gray;
    font-size: 11px;
    font: bold;
}

.thin-gray-botton-border {
    border-bottom: thin solid #DAE3E6;
}
